# Created by .ignore support plugin (hsz.mobi)
### Kotlin template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/*
!.idea/codeStyles/

local.properties

*.iml

# Gradle
.gradle/

build/

app/src/main/assets/booking/

.DS_Store

# CMake
cmake-build-debug/
cmake-build-release/

# File-based project format
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Styles
.idea/codeStyles/Project.xml
workspace.xml

# Python
virtualenv/
venv/
scripts/config.py
scripts/__pycache__

# VS Code files
.project
.classpath
.settings
bin/
.gradletasknamecache
*/node_modules
